$color_blue: #1eacc7

*
  font-family: 'Roboto', sans-serif

nav
  height: 51px
  background-color: #212121

.header
  position: relative

.menu
  display: flex
  justify-content: space-between
  position: sticky
  top: 0
  padding: 13px 70px
  margin: 0
  list-style: none

  .menu_link
    color: #ffffff 
    font-size: 15px
    font-weight: 300

  .menu_item
    border-right: 2px dotted black
    padding-right: 28px

.subheader
  position: absolute
  width: 100%
  height: 84px
  background-color: rgba(0, 0, 0, 0.6)

  .subheader_logo
    display: block
    margin-top: 16px
    max-width: 100%

  .subheader_official
    margin-top: 6px
    opacity: 0.5
    color: #ffffff
    font-size: 13px
    font-weight: 400
    text-align: left

  .subheader_call
    margin-top: 19px
    color: #ffffff
    font-size: 10px
    font-weight: 300
    text-align: right

  .subheader_phone
    display: block
    margin-top: 8px
    color: #ffffff
    font-size: 22px
    font-weight: 400
    text-align: right
    text-transform: uppercase
    line-height: 12px

  .subheader_btn
    margin-top: 19px
    width: 172px
    height: 46px
    border: none
    border-radius: 4px
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12)
    background-image: linear-gradient(to top, $color_blue 0%, #4ce2ff 100%)
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
    color: #ffffff
    font-size: 14px
    font-weight: 400
    text-align: center
    text-transform: uppercase

.promo
  min-height: 800px
  background: url('../img/bg/background.png') center (center / cover) no-repeat
  padding: 150px 0 135px 0

  .promo_header
    margin: 0
    color: #ffffff
    font-size: 60px
    font-weight: 700
    text-align: center
    text-transform: uppercase
    line-height: 60px

  .promo_subheader
        margin: 0
        margin-top: 10px
        color: #ffffff
        font-size: 36px
        font-weight: 700
        text-align: center
        text-transform: uppercase
        line-height: 36px

  .promo_descr
        margin-top: 23px
        color: #ffffff
        font-size: 18px
        font-weight: 500
        text-align: center
        line-height: 24px

  .promo_btn
        display: block
        margin: 0 auto
        margin-top: 118px
        width: 259px
        height: 63px
        box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12)
        border: none
        border-radius: 4px
        background-image: linear-gradient(to top, $color_blue 0%, #4ce2ff 100%)
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
        color: #ffffff
        font-size: 18px
        font-weight: 400
        text-align: center
        text-transform: uppercase

.label
    height: 24px
    width: 112px
    margin: 0 auto
    padding-top: 5px
    background-color: #000000
    color: #ffffff
    font-size: 11px
    font-weight: 400
    text-align: center
    text-transform: uppercase

.title
    margin: 38px 0 40px 0
    color: #222222
    font-size: 38px
    font-weight: 700
    text-align: center
    text-transform: uppercase

.subtitle
    margin-top: 19px
    color: #222222
    font-size: 17px
    font-weight: 400
    text-align: center    

.benefits
    min-height: 900px
    padding: 79px 0 68px 0

    .benefits_block
        display: flex
        justify-content: space-between
        margin-bottom: 35px

    .benefits_img
        display: flex
        justify-content: center
        align-items: center
        height: 113px
        width: 113px
        border-radius: 100%
        background-color: $color_blue

    .benefits_block .benefit_descr
        height: 142px
        width: 355px
        margin-right: 50px
        color: #202020
        font-size: 15px
        font-weight: 400
        line-height: 21px
        text-align: justify

    .benefit_descr span
        color: $color_blue
        font-size: 17px
        font-weight: 700

.mobile
    min-height: 864px
    padding: 48px 0 79px 0
    background: url('../img/bg/background_mobile.png') center (center / cover) no-repeat
    .row
        margin-top: 32px
    &_item
        width: 320px
        height: 280px
        margin: 0 auto
        margin-bottom: 19px
        padding-top: 92px
        position: relative
        &_1
            background: url('../img/karta_zakaz.png') center (center / cover) no-repeat
        &_2
            background: url('../img/karta_podacha.png') center (center / cover) no-repeat
        &_3
            background: url('../img/karta_price.png') center (center / cover) no-repeat
        &_4
            background: url('../img/karta_visa.png') center (center / cover) no-repeat
        &_5
            background: url('../img/karta_call.png') center (center / cover) no-repeat
        &_6
            background: url('../img/karta_delen_price.png') center (center / cover) no-repeat
        &_subtitle
            color: #ffffff
            font-size: 24px
            font-weight: 400
            line-height: 31px
            text-align: center
            text-transform: uppercase
        &_pluse
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            bottom: 35px
            left: 147px
            width: 26px
            height: 26px
            background-color: #000000
            margin: 0 auto
            border-radius: 100%
            cursor: pointer

.choice
    min-height: 896px
    position: relative
    &_block_black
        padding-top: 57px
        height: 499px
        background-color: #070716
    &_car
        position: absolute
        top: 232px
        left: 50%
        transform: translateX(-50%)
    &_block_white
        height: 397px
        padding-top: 217px
        background: url('../img/bg/background_mobile.png') center (center / cover) no-repeat
        &_descr
            color: #222222
            font-size: 17px
            font-weight: 300
            line-height: 24px
            text-align: center

.choice .label
    color: #070716
    background-color: #ffffff

.choice .title
    margin: 0 auto
    margin-top: 25px
    color: #ffffff

.choice .subtitle
    margin-top: 5px
    color: #ffffff
